.profile {
    width: 600px;
    margin-bottom: 20px;
}

.personinfo {
    padding: 20px;
    display: flex;
}

.avaimg {
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    margin-right: 20px;
}

.info {
    margin-bottom: 5px;
    color: black;
}

.photosBlock {
    background-color: white;
    border-radius: 5px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photosBlock>h1 {
    font-size: 16px;
}