.profile {
    width: 600px;
    margin-bottom: 20px;
}
.storageImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 50px;
}

.personinfo {
    display: flex;
    padding: 20px;
}

.avaimg {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.info{
    margin-bottom: 5px;
    color: black;
}
